@import "variables";

html {
  background: #464646;
}

[hidden] {
  display: none;
}

body {
  max-width: 21cm;
  //height: max-content;
  min-height: 29.68cm;
  margin: 0 auto;
  //padding: 15px;
  background: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);

  a {
    color: inherit;
  }
}

body h2 {
  font-family: $default-font;
}

body h3 {
  font-family: $default-font;
  margin-block-end: 0.3em;
  font-weight: 900;
}

body h4 {
  font-family: $default-font;
  margin-block: 0;
  color: #464646;
  font-size: 75%;
}

body p,
body li {
  font-family: $default-font;
}

@import "header";

body {
  .panelContainer {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 10px;
    padding: 0 $spacing 10px $spacing;

    .leftPanel,
    .rightPanel {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    .leftPanel {
      flex: 2.5;
      margin-top: 4px;
    }

    .rightPanel {
      flex: 1;
      margin-top: 106px;
    }
  }
}

@media screen and (max-width: 800px) {
  body header {
    height: 120px;
  }

  body header h1 {
    font-size: 200%;
  }

  body .leftPanel {
    width: 100%;
    float: none;
    padding-right: 0;
  }

  body .rightPanel {
    width: 100%;
    float: none;
    background: beige;
    border-radius: $border-radius;
    padding-left: 0;
  }
}

@media screen and (max-width: 800px) {
  body header .namePanel h1 {
    font-size: 200%;
  }
}

@media screen and (max-width: 775px) {
  body header .picturePanel {
    height: 100%;
  }
  section h2 {
    font-size: 100%;
  }

  .rightPanel, .leftPanel {
    margin-top: 5px !important;

    .contact {
      flex-grow: 0;
    }
  }
}

@media screen and (max-width: 675px) {
  .panelContainer {
    flex-direction: column !important;
  }
}

@media screen and (max-width: 550px) {
  .namePanel p {
    font-size: 75%;
  }
}

section {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  flex-grow: 1;
  &.formation {
    flex-grow: 0.3;
  }

  //background: $section-background;
  justify-content: space-around;
  border-radius: $border-radius;

  &>*:not(h2) {
    padding: 0 5px;
  }

  h2,
  h3,
  p {
    margin-block: 0;
  }

  h2 {
    display: flex;
    column-gap: 10px;
    color: $accent-color;
    background: $gradient-background;
    border-radius: $border-radius;
    padding: 5px 10px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);

    a {
      height: 16px;
    }
  }

  &>div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    h3 {
      margin-block: 0;
      color: $header-background;
      display: flex;
      column-gap: 5px;

      a {
        height: 12px;
      }
    }

    h4 {
      font-size: 0.9em;
      margin-block-end: 0.5em;
    }

    ul {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      margin-block: 0;
      padding-inline-start: 20px;
      list-style-type: disclosure-closed;
    }
  }
}

p > .icon {
  margin-right: 10px;
}

.icon {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &.inverted {
    // make it glow
    filter: invert(1) drop-shadow(0 0 1px rgba(255, 255, 255, 0.5));
  }

  &.formation-icon {
    background-image: url(/resume/static/college.png);
  }

  &.experience-icon {
    background-image: url(/resume/static/mallette.png);
  }

  &.contact-icon {
    background-image: url(/resume/static/livre-de-contact.png);
  }

  &.skill-icon {
    background-image: url(/resume/static/competence.png);
  }

  &.language-icon {
    background-image: url(/resume/static/langue.png);
  }

  &.hobby-icon {
    background-image: url(/resume/static/telescope.png);
  }

  &.location-icon {
    background-image: url(/resume/static/location.png);
  }

  &.phone-icon {
    background-image: url(/resume/static/phone.png);
  }

  &.portfolio-icon {
    background-image: url(/resume/static/portfolio.png);
  }

  &.email-icon {
    background-image: url(/resume/static/email.png);
  }

  &.access-icon {
    background-image: url(/resume/static/access.png);
  }
}