header {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 5px;

    background: $gradient-background;

    padding: 10px;
    box-sizing: border-box;

    .picturePanel {
        height: 210px;
        align-self: baseline;

        img {
            height: 100%;
            width: auto;
            border-radius: $border-radius;
        }
    }

    .namePanel {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
        h1 {
            font-family: $default-font;
            text-align: center;
            color: white;
            font-size: 300%;
            margin-block: 0;
        }

        p {
            color: white;
            margin-block: 0;
            text-align: center;
        }
    }
}